<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/vue@next"></script>
  <title>Лаба12</title>
</head>
<body>
  <div id="app">
    <h1>Список студентов</h1>
    <p>Благодаря vue.js мы можем создавать динамические станицы.</p>
    <form @submit.prevent="Sabmit" id="form">
      <div class="form">
      <label for="fam">Фамилия</label>
      
      
      <input type="text" v-bind:value="fam" id="fam" v-on:input="famEnter" placeholder="Фамилия">
      </div>  
      <div class="form">
      <label for="name">Имя</label>
      
      
      <input type="text" v-bind:value="name" id="name" v-on:input="nameEnter"placeholder="Имя">
      </div>
        <h2>Количество знаков: {{name.length + fam.length}}</h2>
        <button class="btn">Добавить</button>
    </form>
    <ul v-if=" students.length !== 0">
      <li v-for="(student, idx) in students">
        {{student}}
      </li>
    </ul>
    <div v-if="students.length == 0">пусто!</div>
  </div>
  <script src="app.js"></script>
</body>
</html>